<div class="player center">
	<div id="playerStage"></div>
</div>
<div id="editorElements">
	<div id="cropper" class="center"></div>
	<div id="rangeInfoBar">
		<div id="start" class="horizontal"></div>
		<div id="sep" class="horizontal"> - </div>
		<div id="end" class="horizontal"></div>
	</div>
	<div id="playerControls">
		<div id="play" class="horizontal">play</div>
		<div id="pause" class="horizontal">pause</div>
		<div id="save" class="horizontal">save</div>
		<div id="name" class="horizontal">
			<input type="text"/>
		</div>
	</div>
</div>
<div id="showElements">
	<div class="center" id="progressbar"></div>
</div>