<div id='step1'>
	<div>Did you like it?</div>
	<div class='answer yes horizontal'>Yes</div>
	<div class='answer no horizontal'>No</div>
</div>
<div id='step2'>
	<div class='title'>You can create your own mash ups!</div>
	<div class='description'>
		<p>This video is created by cropping and combining different videos from youtube. It is all done in our editor page, which is a regular web page that you can display on your browser, just like this page.</p>
		<p>If you are interested in creating your own mashups, leave us your email address. We will let you know when the editor page is available to public access.</p>
	</div>
	<div><input id='email' type="text" maxlength="200" placeholder='email@give.me.access'></input></div>
	<div><textarea id='comment' cols="100" rows="5" type="text" placeholder='comments ...'></textarea></div>
	<div class="horizontal" id='submit'>Submit</div>
</div>
<div id='step3'>
	<div id='replay'>Replay</div>
</div>
<div class="links">
	<ul>
		<lh>Latest Mashups</lh>
		<li><a href='/darkknight'>The Dark Knight</a></li>
		<li><a href='/batmanbegins'>Batman Begins</a></li>
	</ul>
</div>